body { font-family: 'Poppins', sans-serif; font-size: 18px; }

.hero {
background-image: url(background.jpg);
    height: 80vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
}
.hero h2{
    text-align: center;
    color:#4d5043; 
}
.slova{
     font-family: 'Gravitas One', serif;
}

.navbar{
    height: 80px;
    display: flex;

}

.navbar .logo{
    max-height: 60px;
    width: auto;
}

.navbar-collapse { background-color: #ffffff !important; }

.contact-info i {
    color: #07335f; 
    margin-right: 8px;
    font-size: 1.4rem;
}
 

.gallery {display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px; } 
    
.gallery-item { 
    width: 100%; 
    height: 120px; 
    object-fit: cover; 
    cursor: pointer; 
    border-radius: 5px; 
    transition: transform 0.2s; } 
    
    
.gallery-item:hover { transform: scale(1.05); }


.overlay { display: none; 
    position: fixed; 
    top: 0; left: 0; 
    width: 100%; 
    height: 100%; 
    background: rgba(0,0,0,0.8); 
    justify-content: center; 
    align-items: center; 
    z-index: 9999; } 
    
.overlay img { max-width: 90%;
     max-height: 90%;
      border-radius: 10px; 
    z-index:9998; } 
      
.close { position: absolute;
     top: 20px; right: 40px; 
     font-size: 50px; 
     color: hsl(0, 5%, 96%); 
     cursor: pointer;
    z-index:9999;  }

.mala-slika { width: 80%; height: 250px; object-fit:cover;  display: block; margin-top: 10px; margin:0 auto;  }

.arrow { position: absolute; top: 50%; transform: translateY(-50%); font-size: 50px; color: white; cursor: pointer; z-index: 9999; user-select: none; padding: 10px; }
.arrow.left { left: 20px; } 
.arrow.right { right: 20px; } 
.arrow:hover { color: #b11414; }

#onama, #usluge, #galerija, #video, #kontakt { 
    scroll-margin-top: 120px; }

.onama{max-width: 800px; margin: 0 auto; line-height: 1.7; text-align: justify;}

.razmaci{
    margin-bottom: 40px;
}

.bg-boja{
    background-color:hsl(167, 47%, 96%)
}

hr{
    background-color: lab(38.74% -23.5 38.67);
    height: 5px;
    border: none;
}

.price-box{
    padding: 20px; border-radius: 12px; box-shadow: 0 2px 6px rgba(0,0,0,0.08); margin-bottom: 20px; text-align: center; width: auto;  display: flex; flex-direction: column;    
}

.price-grid { display: grid; grid-template-columns: repeat(auto-fit, minmax(280px, 1fr)); gap: 20px; margin-top: 20px; align-items: stretch; }